html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #f9fafb;
}

* {
  box-sizing: border-box;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
